body {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.logo {
  width: 80px;
  height: auto;
  top: 2rem;
  border: #f7f7f7 solid 3px;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: rgb(110, 65, 42);
  padding: 1rem 2rem;
}

.nav-link {
  padding: 8px;
  border-radius: 5px;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-weight: lighter;
  transition: all ease 0.5s;
  text-decoration: none !important;
  color: #f7f7f7 !important;
}

.nav-item:hover {
  background-color: rgb(143, 89, 62);
}

.sign-in-btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

